In [60]:
#importing necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait

In [61]:
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [62]:
# let's first connect to the web driver
driver = webdriver.Chrome("chromedriver.exe")

Q1:  Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1.  First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [63]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [64]:
# Entering designation as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [65]:
# Entering location as required
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [66]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(3)

In [67]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [68]:
time.sleep(3)
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Senior Data Analyst - Track',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Data Analytics and Interpretation Business Analyst',
 'Associate Data Analyst, Connect',
 'Senior Data Analyst',
 'Data Analyst - 3']

In [69]:
time.sleep(3)
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [70]:
time.sleep(3)
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Mobile Premier League',
 'Optum',
 'Artech infosystem',
 'Mobile Premier League',
 'G2 Crowd',
 'TeamLease',
 'Accenture',
 'Yara Communications',
 'Yara Communications',
 'Varite']

In [71]:
time.sleep(3)
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['3-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '6-8 Yrs',
 '0-2 Yrs',
 '5-7 Yrs',
 '3-5 Yrs']

In [72]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [73]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst,Bangalore/Bengaluru,Mobile Premier League,3-5 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-10 Yrs
2,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
3,Data Analyst,Bangalore/Bengaluru,Mobile Premier League,2-5 Yrs
4,Senior Data Analyst - Track,Bangalore/Bengaluru,G2 Crowd,3-8 Yrs
5,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
6,Data Analytics and Interpretation Business Ana...,Bangalore/Bengaluru,Accenture,6-8 Yrs
7,"Associate Data Analyst, Connect",Bangalore/Bengaluru,Yara Communications,0-2 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Yara Communications,5-7 Yrs
9,Data Analyst - 3,Bangalore/Bengaluru,Varite,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped dat

In [74]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [75]:
# Entering "Data Scientist" in skills/designations/companies
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [76]:
# Entering location as Bangalore
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [77]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()
time.sleep(3)

In [78]:
# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []

In [84]:
time.sleep(3)
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:9]:
    title=i.text
    job_title.append(title)
job_title

['Analystics & Modeling Specialist',
 'Analystics & Modeling Specialist',
 'Job Opportunity on Data Science_ Python with Techmahindra',
 'Assistant Manager - Data Science',
 'Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Data Scientist/AIML Engineer',
 'ACN - Applied Intelligence - Data & Insights - CPG - 09',
 'Data Scientist',
 'ACN - Applied Intelligence - C4DI - Sustainability - 09',
 'Hiring Data Science Intern - DataTrained Education']

In [80]:
time.sleep(3)
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr',
 'Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai']

In [81]:
time.sleep(3)
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['Accenture',
 'Tech Mahindra',
 'CitiusTech',
 'NTT DATA Business Solutions Private Limited',
 'upGrad',
 'Accenture',
 'IBM',
 'Accenture',
 'DataTrained',
 'Fractal Analytics']

In [85]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [86]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
2,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,Data Scientist/AIML Engineer,Bangalore/Bengaluru,Accenture
6,ACN - Applied Intelligence - Data & Insights -...,Bangalore/Bengaluru,IBM
7,Data Scientist,Bangalore/Bengaluru,Accenture
8,ACN - Applied Intelligence - C4DI - Sustainabi...,"Bangalore/Bengaluru, Noida, Kolkata, Hyderabad...",DataTrained
9,Hiring Data Science Intern - DataTrained Educa...,"Bangalore/Bengaluru, Mumbai",Fractal Analytics

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually

In [87]:
# Opening the naukri page on automated chrome browser
driver.get("https://www.naukri.com/")

In [88]:
# Entering "Data Scientist" in skills/designations/companies
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [89]:
# Entering location as Bangalore
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [90]:
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[6]")
search.click()

In [91]:
time.sleep(3)
# Since job_location is Delhi/NCR a single element applied absolute XPATH
job_location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[13]/div[2]/div[2]/label/p/span[1]")
job_location.click()

In [93]:
# Since salary is 3-6 Lakhs a single element applied absolute XPATH
salary = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary.click()
time.sleep(3)

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=105.0.5195.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0107DF13+2219795]
	Ordinal0 [0x01012841+1779777]
	Ordinal0 [0x00F24100+803072]
	Ordinal0 [0x00F53FB6+999350]
	Ordinal0 [0x00F49B76+957302]
	Ordinal0 [0x00F6E7FC+1107964]
	Ordinal0 [0x00F494B4+955572]
	Ordinal0 [0x00F6EA14+1108500]
	Ordinal0 [0x00F7F192+1175954]
	Ordinal0 [0x00F6E616+1107478]
	Ordinal0 [0x00F47F89+950153]
	Ordinal0 [0x00F48F56+954198]
	GetHandleVerifier [0x01372CB2+3040210]
	GetHandleVerifier [0x01362BB4+2974420]
	GetHandleVerifier [0x01116A0A+565546]
	GetHandleVerifier [0x01115680+560544]
	Ordinal0 [0x01019A5C+1808988]
	Ordinal0 [0x0101E3A8+1827752]
	Ordinal0 [0x0101E495+1827989]
	Ordinal0 [0x010280A4+1867940]
	BaseThreadInitThunk [0x766BFA29+25]
	RtlGetAppContainerNamedObjectPath [0x77DA7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x77DA7A6E+238]

In [94]:

# Creating empty list to store data the scraped data
job_title = []
job_location =[]
company_name = []
experience_required =[]

In [95]:
time.sleep(3)
# Scraping Job title from the given page
title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
job_title

['Hiring For DATA Scientist @ NTT DATA Business Solution India',
 'Data Scientist',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Data Scientist',
 'ACN - Applied Intelligence - C4DI - Sustainability - 07',
 'ACN - Applied Intelligence - C4DI - Insight Delivery - 09',
 'Data Scientist',
 'Data Scientist',
 'Senior Analyst-Data Science',
 'Senior Analyst-Data Science']

In [96]:
time.sleep(3)
# Scraping Job Location from the given page
location_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
job_location

['Gurgaon/Gurugram, Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram, New Delhi, Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [97]:
time.sleep(3)
# Scraping Company name from the given page
company_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
company_name

['NTT DATA Business Solutions Private Limited',
 'ZS Associates',
 'Concentrix',
 'Optum',
 'Accenture',
 'Accenture',
 'OakNorth',
 'Absolutdata',
 'Accenture',
 'Accenture']

In [98]:
time.sleep(3)
# Scraping Job Experience from the given page
experience_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)
experience_required

['4-9 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '6-10 Yrs',
 '4-6 Yrs',
 '3-7 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '5-8 Yrs']

In [99]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [100]:
# Creating the dataframe from above data
df = pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Hiring For DATA Scientist @ NTT DATA Business ...,"Gurgaon/Gurugram, Noida, Hyderabad/Secunderaba...",NTT DATA Business Solutions Private Limited,4-9 Yrs
1,Data Scientist,"Gurgaon/Gurugram, New Delhi, Pune, Bangalore/B...",ZS Associates,5-8 Yrs
2,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix,3-8 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,3-8 Yrs
4,ACN - Applied Intelligence - C4DI - Sustainabi...,Gurgaon/Gurugram,Accenture,6-10 Yrs
5,ACN - Applied Intelligence - C4DI - Insight De...,Gurgaon/Gurugram,Accenture,4-6 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Hyderabad/Secunderabad, Bang...",OakNorth,3-7 Yrs
7,Data Scientist,"Gurgaon/Gurugram, Kolkata, Hyderabad/Secundera...",Absolutdata,5-10 Yrs
8,Senior Analyst-Data Science,Gurgaon/Gurugram,Accenture,5-8 Yrs
9,Senior Analyst-Data Science,Gurgaon/Gurugram,Accenture,5-8 Yrs

Q4 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

Brand Product Description Price To scrape the data you have to go through following steps: Go to flipkart webpage by url https://www.flipkart.com/ Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it

In [101]:
# Opening the flipkart on automated chrome browser
driver.get("https://www.flipkart.com/")

In [103]:
# Entering product in search bar as required
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

time.sleep(3)
# Serching Item
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [104]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []
Discount = []
 
time.sleep(3)

#Scrapping the required details
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in Price_tags:
        Price.append(i.text)
        
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href')) 
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [105]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 120 120 120

In [106]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100],'Discount':Discount[:100]})
df

,Brand,Product_Desc,Price,Discount
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹319,84% off
2,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹449,79% off
3,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹1,049",47% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹359,82% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹999,50% off
96,Fastrack,UV Protection Wrap-around Sunglasses (63),₹710,21% off
97,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹449,80% off
98,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
99,VINCENT CHASE,UV Protection Rectangular Sunglasses (50),₹699,65% off

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:

Brand Product Description Price Discount As shown in the below image, you have to scrape the tick marked attributes

In [107]:
# Opening the flipkart on automated chrome browser
driver.get("https://www.flipkart.com/")

In [108]:
# Entering product in search bar as required
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

time.sleep(3)
# Serching Item
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [109]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []
Discount = []

In [110]:
time.sleep(3)

#Scrapping the required details
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in Price_tags:
        Price.append(i.text)
        
    Discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in Discount_tags:
        Discount.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href')) 
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [111]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

120 114 120 120

In [112]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100],'Discount':Discount[:100]})
df

,Brand,Product_Desc,Price,Discount
0,CAMPUS,CAMP DENVER Sneakers For Men,"₹1,849",7% off
1,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹499,85% off
2,BIRDE,Latest Design Trendy and Comfortable Sports Sh...,₹199,80% off
3,TR,Casual White Sneakers For Men,₹299,80% off
4,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹499,85% off
...,...,...,...,...
95,CAMPUS,Sneakers For Men,"₹1,849",7% off
96,KWIK FIT,Sneakers For Men,₹399,80% off
97,BIRDE,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹450,69% off
98,ROCKFIELD,Sneakers For Men,₹333,66% off
99,BIRDE,Sneakers For Men,₹449,55% off

Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [113]:
# Opening the Myntra website on automated chrome browser
driver.get("https://www.myntra.com/shoes")

In [114]:
time.sleep(4)

#clicking on price filter
pricebutton = driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]/label/div")
pricebutton.click()

#clicking on black colour 
blackbutton = driver.find_element(By.XPATH,'//li[@class="colour-listItem"]/label/div')
blackbutton.click()

In [115]:
# Creating the empty list
Brand = []
Product_Description = []
Price = []

#Scrapping the required details
start=0
end=2
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']")      
    for i in brand_tags:
        Brand.append(i.text)     
        
    Product_Desc_tags=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h4[1]")     
    for i in Product_Desc_tags:
        Product_Description.append(i.text)    
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]') 
    for i in Price_tags:
        Price.append(i.text) 
        
        nxt_button=driver.find_elements(By.XPATH,'//a[@rel="next"]')

try:
    driver.get(nxt_button[1].get_attribute('href')) 
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [116]:
print(len(Brand),len(Product_Description),len(Price))

100 100 100

In [117]:
# Creating a dataframe from the above data
df = pd.DataFrame({'Brand':Brand[:100],'Product_Desc':Product_Description[:100],'Price':Price[:100]})
df

,Brand,Product_Desc,Price
0,Red Tape\nMen Walking Shoes\nRs. 1619Rs. 5399(...,Men Walking Shoes,Rs. 1619Rs. 5399(70% OFF)
1,Nike\nMen ZOOM WINFLO8 Running Shoes\nRs. 7880...,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
2,Roadster\nMen Sneakers\nRs. 872Rs. 3795(77% OFF),Men Sneakers,Rs. 872Rs. 3795(77% OFF)
3,Red Tape\nMen Walking Shoes\nRs. 1589Rs. 5299(...,Men Walking Shoes,Rs. 1589Rs. 5299(70% OFF)
4,Puma\nMen Enzo Running Shoes\nRs. 3024Rs. 5499...,Men Enzo Running Shoes,Rs. 3024Rs. 5499(45% OFF)
...,...,...,...
95,U.S. Polo Assn.\nMen Solid Horsebit Loafers\nR...,Men Solid Horsebit Loafers,Rs. 2089Rs. 3799(45% OFF)
96,AfroJack\nMen Colourblocked Sneakers\nRs. 749R...,Men Colourblocked Sneakers,Rs. 749Rs. 3745(80% OFF)
97,Nike\nKids Revolution 4 Running\nRs. 1118Rs. 3...,Kids Revolution 4 Running,Rs. 1118Rs. 3495(68% OFF)
98,Puma\nUnisex Turino FSL Trainers\nRs. 3119Rs. ...,Unisex Turino FSL Trainers,Rs. 3119Rs. 4799(35% OFF)
99,Bond Street By Red Tape\nMen Walking Shoes\nRs...,Men Walking Shoes,Rs. 979Rs. 4899(80% OFF)

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:

First get the webpage https://www.flipkart.com/
Enter “iphone 11” in “Search” field .
Then click the search button
As shown in the above page you have to scrape the tick marked attributes.These are:

Rating
Review summary
Full review
You have to scrape this data for first 100 reviews

In [118]:
# Opening the flipkart on automated chrome browser
driver.get("https://www.flipkart.com/")

In [119]:
# Entering product in search bar as required
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('iphone 11')

time.sleep(3)
# Serching Item
search = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [120]:
search = driver.find_element(By.XPATH,'//div[@class="_4rR01T"]')
search.click()

In [121]:
# Creating empty list
Rating = []
Review_summary = []
Full_review = []

start=0
end=10

# Scraping rating from given page
for page in range(start,end):
    rate = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rate:
        Rating.append(i.text)
        
# Scraping review summary from given page
    review = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        Review_summary.append(i.text)

# Scraping full review from given page
    fullreview = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in fullreview:
        Full_review.append(i.text)  
        
    nxt_button=driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
time.sleep(11)
try:
    driver.get(nxt_button[1].get_attribute('href')) 
except:
    driver.get(nxt_button[0].get_attribute('href'))

In [122]:
print(len(Rating),len(Review_summary),len(Full_review))

0 0 0